<!-- Sidenav -->
<nav
  class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
  id="sidenav-main"
  style="position: fixed"
>
  <div class="scrollbar-inner">
    <!-- Brand -->
    
    <div class="sidenav-header d-flex align-items-center">
      <br />

      <a class="navbar-brand" href="#">
        <img
          src="./assets/img/logo1.png"
          class="navbar-brand-img"
          alt="..."
          width="120"
          height="350"
        />
      </a>
      <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div
          class="sidenav-toggler d-none d-xl-block"
          data-action="sidenav-unpin"
          data-target="#sidenav-main"
        >
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Divider -->
        <hr class="my-3" />
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">Dashboard</h6>
        <!-- Navigation -->
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              href="#navbar-Student"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="navbar-Student"
            >
              <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">Students</span>
            </a>
            <div class="collapse" id="navbar-Student">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a [routerLink]="['/etudiants/EtudiantList']" class="nav-link">List Of Students</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/etudiants/FormEtudiant']" class="nav-link"
                    >Add New Student</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#navbar-Team"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="navbar-Team"
            >
              <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">Teams</span>
            </a>
            <div class="collapse" id="navbar-Team">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link">List Of Teams</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/app-add-projet']" class="nav-link"
                    >Add New Team</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              href="#navbar-Product"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="navbar-Product"
            >
              <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">Projects</span>
            </a>
            <div class="collapse" id="navbar-Product">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a [routerLink]="['/listeetudiant']" class="nav-link"
                    >List Of Projects</a
                  >
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/app-add-projet']" class="nav-link"
                    >Add New Project</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">update projet</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">les taches par projet</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#navbar-Factures"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="navbar-Factures"
            >
              <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">Tasks</span>
            </a>
            <div class="collapse" id="navbar-Factures">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a [routerLink]="['/facturenonpayer']" class="nav-link"
                    >Factures Non payer
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/facturepayer']" class="nav-link"
                    >Factures payer</a
                  >
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/facture/add']" class="nav-link"
                    >Nouvelle Facture</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#navbar-contract"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="navbar-contract"
            >
              <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">Contracts</span>
            </a>
            <div class="collapse" id="navbar-contract">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a [routerLink]="['/contracts/ContractsList']" class="nav-link"
                    >List Of Contracts</a
                  >
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/contracts/addContract']" class="nav-link"
                    >Add New Contract</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#navbar-University"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="navbar-University"
            >
              <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">University</span>
            </a>
            <div class="collapse" id="navbar-University">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a [routerLink]="['/universites/universite/list']" class="nav-link"
                    >List Of Universities</a
                  >
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/universites/universite/add']" class="nav-link"
                    >Add New University</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#navbar-Department"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="navbar-Department"
            >
              <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">Departments</span>
            </a>
            <div class="collapse" id="navbar-Department">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a [routerLink]="['/departments/Department']" class="nav-link">List Of Departments</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/departments/Department/add']" class="nav-link"
                    >Add New Department</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="main-content" id="panel">
  <!-- Topnav -->
  <nav
    class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Search form -->
        <form
          class="navbar-search navbar-search-light form-inline mr-sm-3"
          id="navbar-search-main"
        >
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
              <input class="form-control" placeholder="Search" type="text" />
            </div>
          </div>
          <button
            type="button"
            class="close"
            data-action="search-close"
            data-target="#navbar-search-main"
            aria-label="Close"
          >
            <span aria-hidden="true"></span>
          </button>
        </form>
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center ml-md-auto">
          <li class="nav-item d-xl-none">
            <!-- Sidenav toggler -->
            <div
              class="pr-3 sidenav-toggler sidenav-toggler-dark"
              data-action="sidenav-pin"
              data-target="#sidenav-main"
            >
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </div>
          </li>
          <li class="nav-item d-sm-none">
            <a
              class="nav-link"
              href="#"
              data-action="search-show"
              data-target="#navbar-search-main"
            >
              <i class="ni ni-zoom-split-in"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="ni ni-bell-55"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden"
            >
              <!-- Dropdown header -->
              <div class="px-3 py-3">
                <h6 class="text-sm text-muted m-0">
                  You have
                  <strong class="text-primary">13</strong> notifications.
                </h6>
              </div>
              <!-- List group -->
              <div class="list-group list-group-flush">
                <a href="#!" class="list-group-item list-group-item-action">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <!-- Avatar -->
                      <img
                        alt="Image placeholder"
                        src="./assets/img/theme/team-1.jpg"
                        class="avatar rounded-circle"
                      />
                    </div>
                    <div class="col ml--2">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <h4 class="mb-0 text-sm">Anouar Mhamdi</h4>
                        </div>
                        <div class="text-right text-muted">
                          <small>2 hrs ago</small>
                        </div>
                      </div>
                      <p class="text-sm mb-0">
                        Let's meet at Starbucks at 11:30. Wdyt?
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <!-- View all -->
              <a
                href="#!"
                class="dropdown-item text-center text-primary font-weight-bold py-3"
                >View all</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="ni ni-ungroup"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default dropdown-menu-right"
            >
              <div class="row shortcuts px-4">
                <a href="#!" class="col-4 shortcut-item">
                  <span
                    class="shortcut-media avatar rounded-circle bg-gradient-red"
                  >
                    <i class="ni ni-calendar-grid-58"></i>
                  </span>
                  <small>Calendar</small>
                </a>
                <a href="#!" class="col-4 shortcut-item">
                  <span
                    class="shortcut-media avatar rounded-circle bg-gradient-orange"
                  >
                    <i class="ni ni-email-83"></i>
                  </span>
                  <small>Email</small>
                </a>
                <a href="#!" class="col-4 shortcut-item">
                  <span
                    class="shortcut-media avatar rounded-circle bg-gradient-info"
                  >
                    <i class="ni ni-credit-card"></i>
                  </span>
                  <small>Payments</small>
                </a>
                <a href="#!" class="col-4 shortcut-item">
                  <span
                    class="shortcut-media avatar rounded-circle bg-gradient-green"
                  >
                    <i class="ni ni-books"></i>
                  </span>
                  <small>Reports</small>
                </a>
                <a href="#!" class="col-4 shortcut-item">
                  <span
                    class="shortcut-media avatar rounded-circle bg-gradient-purple"
                  >
                    <i class="ni ni-pin-3"></i>
                  </span>
                  <small>Maps</small>
                </a>
                <a href="#!" class="col-4 shortcut-item">
                  <span
                    class="shortcut-media avatar rounded-circle bg-gradient-yellow"
                  >
                    <i class="ni ni-basket"></i>
                  </span>
                  <small>Shop</small>
                </a>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center ml-auto ml-md-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link pr-0"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-1.jpg"
                  />
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm font-weight-bold"
                    >Anouar Mhamdi</span
                  >
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Settings</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-calendar-grid-58"></i>
                <span>Activity</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-support-16"></i>
                <span>Support</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Default
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
